#dump {
    resize: none;
}

#parse {
    float: right;
}

.pointer {
    cursor: pointer;
}

img {
    height: 4rem;
}

img.smaller {
    height: 3.5rem;
}

th, td {
    vertical-align: middle !important;
}
